.fondo-img-1 {
  background-image: url("../img/fondo-1.png");
  height: 29.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #235d7d;
}
.foto-aria {
  height: 30em;
  background-color: #2481b7;
  text-align: center;
}
.fotito {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-top: 2.5em;
}
.npm-logo {
  width: 8em;
}
.fila1-npm {
  padding: 2em 2em;
}
.txt_buscador {
  border: 1px solid rgba(255,255,255,0.2);
  position: relative;
}
.txt_buscador_input {
  width: 100%;
  padding: 0.5em;
  border: none;
  outline: none;
  background: rgba(255,0,0,0);
}
.btn_buscar_lupa {
  position: absolute;
  right: 0;
  top: 0;
  height: 2.5em;
  background: none;
  border: none;
  color: #dcdcdc;
  outline: none;
  padding: 0em 1em;
  border-left: 1px solid rgba(255,255,255,0.2);
}
.contenedor-buscador {
  padding: 0em 2em;
}
.link-normal {
  color: #fff;
  transition: all ease 0.3s;
  text-decoration: none;
}
.link-normal:hover {
  color: #fff;
  text-decoration: none;
}
.contenedor-mi-facebook {
  margin-top: 0.5em;
}
.texto1 {
  height: 30em;
  background-color: #2481b7;
  color: #fff;
}
.titulo1 {
  color: #ffc0cb;
  margin-top: 2em;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.contenido {
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  margin-right: 5em;
  margin-left: 4em;
}
.btn {
  background-color: #ffc0cb;
  color: #fff;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 24px;
  padding: 0em 1em;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.7em;
  margin-left: 4.5em;
}
.btn:hover {
  background-color: #cab7c8;
  color: #fff;
}
.bloque3 {
  height: 9em;
  background-color: #e2d7d7;
}
.titulo2 {
  font-size: 2.5em;
  text-align: center;
  padding: 1em 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.tec {
  background-color: #e2d7d7;
  height: 25em;
}
.icono1 {
  text-align: center;
  padding-bottom: 0.7em;
  border-right: 1.5px solid #494549;
  box-shadow: 2px 2px 5px #999;
}
.imagen-icono1 {
  width: 7em;
  height: 7em;
  border-radius: 10%;
}
.icono2 {
  text-align: center;
  margin-left: 3em;
  border-right: 1.5px solid #494549;
  box-shadow: 2px 2px 5px #999;
}
.imagen-icono2 {
  width: 24em;
  height: 10em;
  border-radius: 4%;
}
.letras1 {
  margin-top: 1em;
  font-size: 1.3em;
  font-family: jokerman;
}
.letras {
  font-size: 1.3em;
  font-family: jokerman;
}
.icono3 {
  border-right: 1.5px solid #494549;
  box-shadow: 2px 2px 3px #999;
  text-align: center;
}
.imagen-icono3 {
  height: 4em;
  width: 8em;
  border-radius: 8%;
  padding-top: 1em;
}
.icono3-a {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.5em;
  padding-bottom: 0.7em;
  color: #d9ddd4;
  box-shadow: 2px 2px 3px #999;
}
.footer {
  height: 7em;
  background-color: #273547;
}
.derechosR {
  color: #ced6c5;
  font-size: 0.9em;
  text-align: center;
  font-family: jokerman;
}
@media (min-width: 766px) and (max-width: 950px) {
  .fondo-img-1 {
    background-color: #ffc0cb;
    background-position: left;
    background-size: 100% 70%;
  }
  .fotito {
    width: 80%;
    height: 80%;
  }
  .contenido {
    margin-right: 2em;
    margin-left: 1em;
  }
}
@media screen and (max-width: 765px) {
  .fondo-img-1 {
    background-image: none;
    height: 12em;
  }
  .foto-aria {
    display: none;
  }
  .contenido {
    font-size: 1.2em;
    margin-left: 2em;
    margin-right: 2em;
  }
  .btn {
    margin-top: 0.7em;
  }
  .icono3-a {
    font-size: 1em;
    margin-top: 0.8em;
    padding-bottom: 0.8em;
  }
  .imagen-icono3 {
    height: 3em;
    width: 5em;
  }
  .footer {
    height: 5em;
  }
}
